<div class="card-modal">
  <div class="card border-secondary">
    <div class="card-header">
      {{ 'editor.lead-sheets-add' | translate }}
    </div>

    <div class="card-body">

      <!-- Selected file -->
      <div class="card mb-3 border-secondary">
        <div class="card-body">
          <!-- No file selected -->
          <div *ngIf="!file?.name">
            {{ 'editor.no-file-selected' | translate }}
          </div>

          <!-- A file is selected -->
          <div *ngIf="file?.name">
            <i class="fa fa-fw" [ngClass]="file.getFontAwesomeIconClass()" aria-hidden="true"></i>
            {{ file?.name }}
          </div>
        </div>
      </div>

      <!-- Choose file -->
      <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload" role="tab">
            <i class="fa fa-upload" aria-hidden="true"></i> {{ 'editor.upload' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="media-library-tab" data-toggle="tab" href="#media-library" role="tab">
            <i class="fa fa-folder-o" aria-hidden="true"></i> {{ 'editor.lead-sheets-library' | translate }}
          </a>
        </li>
      </ul>

      <div class="tab-content mb-3" id="myTabContent">

        <!-- Upload -->
        <div class="tab-pane fade show active" id="upload" role="tabpanel">
          <dropzone [config]="dropzoneConfig" [useDropzoneClass]="'false'" [message]="uploadMessage" (error)="onUploadError($event)"
            (success)="onUploadSuccess($event)"></dropzone>

          <div id="dz-preview-template" class="dz-preview dz-file-preview">
            <div class="dz-details">
              <div class="dz-filename">
                <span data-dz-name></span>
              </div>
              <div class="dz-size" data-dz-size></div>
              <img data-dz-thumbnail />
            </div>
            <div class="dz-progress">
              <span class="dz-upload" data-dz-uploadprogress></span>
            </div>
          </div>
        </div>

        <!-- Library -->
        <div class="tab-pane fade" id="media-library" role="tabpanel">
          <input type="text" class="form-control input-block mb-3" id="searchFileList" placeholder="{{ 'editor.search-files' | translate }}"
            (input)="filterExistingFiles($event.target.value)">

          <div class="card border-secondary" style="height: 300px; overflow-y: scroll;">
            <div class="card-body p-0">
              <div class="list-group list-group-flush">
                <div *ngFor="let existingFile of filteredExistingFiles" class="list-group-item list-group-item-action" [class.active]="file?.name == existingFile.name && file?.type == existingFile.type">

                  <div class="row">
                    <a [class.text-white]="file?.name == existingFile.name && file?.type == existingFile.type" href="#" (click)="selectExistingFile(existingFile); false"
                      class="col-auto my-auto">
                      <i class="fa fa-fw" [ngClass]="existingFile.getFontAwesomeIconClass()" aria-hidden="true"></i>
                    </a>

                    <a [class.text-white]="file?.name == existingFile.name && file?.type == existingFile.type" href="#" (click)="selectExistingFile(existingFile); false"
                      class="col-auto my-auto flex-grow text-break-word pl-0">
                      {{ existingFile.name }}
                    </a>

                    <a class="col-auto my-auto pl-0 text-danger float-right" href="#" role="button" (click)="deleteFile(existingFile); false">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <div class="d-flex float-right">
        <a class="mr-3 my-auto" href="#" role="button" (click)="cancel(); false">
          {{ 'misc.cancel' | translate }}
        </a>
        <button type="button" class="btn btn-primary" (click)="ok(); false">
          {{ 'misc.ok' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>