<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <!-- Tab navigation -->
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="songs-tab" data-toggle="tab" href="#songs" role="tab">
                <i class="fa fa-play-circle" aria-hidden="true"></i> {{ 'editor.songs' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="setlists-tab" data-toggle="tab" href="#setlists" role="tab">
                <i class="fa fa-list" aria-hidden="true"></i> {{ 'editor.setlists' | translate }}
              </a>
            </li>
          </ul>

          <!-- Tab content -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="songs" role="tabpanel">
              <app-editor-song></app-editor-song>
            </div>
            <div class="tab-pane fade" id="setlists" role="tabpanel">
              <app-editor-setlist></app-editor-setlist>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>