<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <!-- Tab navigation -->
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="compositions-tab" data-toggle="tab" href="#compositions" role="tab">
                <i class="fa fa-play-circle" aria-hidden="true"></i> {{ 'editor.compositions' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sets-tab" data-toggle="tab" href="#sets" role="tab">
                <i class="fa fa-list" aria-hidden="true"></i> {{ 'editor.sets' | translate }}
              </a>
            </li>
          </ul>

          <!-- Tab content -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="compositions" role="tabpanel">
              <app-editor-composition></app-editor-composition>
            </div>
            <div class="tab-pane fade" id="sets" role="tabpanel">
              <app-editor-set></app-editor-set>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>