<div class="card-modal">
  <div class="card">
    <div class="card-header">
      {{ 'editor.edit-file' | translate }}
    </div>

    <div class="card-body">

      <div class="row">
        <div class="col-lg-6">

          <!-- Selected file -->
          <div class="card mb-3">
            <div class="card-body">
              sdfsdf
            </div>
          </div>

          <!-- Choose file -->
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="songs-tab" data-toggle="tab" href="#upload" role="tab">
                <i class="fa fa-upload" aria-hidden="true"></i> {{ 'editor.upload' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="setlists-tab" data-toggle="tab" href="#media-library" role="tab">
                <i class="fa fa-folder-o" aria-hidden="true"></i> {{ 'editor.media-library' | translate }}
              </a>
            </li>
          </ul>

          <div class="tab-content mb-3" id="myTabContent">
            <div class="tab-pane fade show active" id="upload" role="tabpanel">
              <dropzone [config]="dropzoneConfig" [useDropzoneClass]="'false'" [message]="uploadMessage" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>

              <div id="dz-preview-template" class="dz-preview dz-file-preview">
                <div class="dz-details">
                  <div class="dz-filename">
                    <span data-dz-name></span>
                  </div>
                  <div class="dz-size" data-dz-size></div>
                  <img data-dz-thumbnail />
                </div>
                <div class="dz-progress">
                  <span class="dz-upload" data-dz-uploadprogress></span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="media-library" role="tabpanel">
              <!-- TODO -->
            </div>
          </div>
        </div>

        <hr />

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              {{ 'editor.file-settings' | translate }}
            </div>

            <div class="card-body">

              <!-- Active (muted) -->
              <div class="form-group">
                <label class="col-form-label"></label>
                <label class="form-check-label">
                  <input type="checkbox" [ngModel]="!file?.active" (ngModelChange)="file.active = !$event" class="form-check-input"> {{ 'editor.mute' | translate }}
                </label>
              </div>

              <!-- Delay (offset) -->
              <div class="form-group">
                <label class="col-form-label" for="offsetMillis">{{ 'editor.offset-millis' | translate }}</label>

                <input type="text" class="form-control" [ngModel]="file?.offsetMillis" (ngModelChange)="file.offsetMillis = $event" id="offsetMillis"
                  placeholder="{{ 'editor.default-song-name' | translate }}">
              </div>

              <!-- MIDI routing -->
              <div class="form-group" *ngIf="file?.type == 'midi'">
                <label class="col-form-label" for="offsetMillis">{{ 'editor.routing' | translate }}</label>

                <div class="list-group" [sortablejs] [sortablejsOptions]="{ onMove: sortMove }">
                  <div class="list-group-item" *ngFor="let routing of file?.midiRoutingList; let i = index">
                    <div class="row">
                      <div class="col col-auto list-sort-handle my-auto" style="cursor: move; cursor: -webkit-grabbing;">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </div>
                      <div class="col col-auto my-auto pl-0">
                        <span *ngIf="routing.midiDestination == 'DMX'">
                          <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i> {{ 'editor.midi-destination-dmx' | translate }}</span>
                        <span *ngIf="routing.midiDestination == 'OUT_DEVICE'">
                          <i class="fa fa fa-sign-out fa-fw" aria-hidden="true"></i> {{ 'editor.midi-destination-device' | translate }}</span>
                        <span *ngIf="routing.midiDestination == 'REMOTE'">
                          <i class="fa fa-sitemap fa-fw" aria-hidden="true"></i> {{ 'editor.midi-destination-remote' | translate }}</span>
                      </div>
                      <div class="col my-auto">
                        <a class="btn btn-secondary btn-sm float-right" href="#" role="button" (click)="editRouting(i); false">...</a>
                      </div>
                    </div>
                  </div>
                  <a href="#" (click)="addSongFile(); false" class="no-sortjs list-group-item list-group-item-action text-center">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'editor.add-routing' | translate }}
                  </a>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="card-footer">
      <div class="d-flex float-right">
        <a class="mr-3 my-auto" href="#" role="button" (click)="onCancel(); false">
          {{ 'misc.cancel' | translate }}
        </a>
        <a class="btn btn-primary" href="#" role="button" (click)="onOk(); false">
          {{ 'misc.ok' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>