<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" data-toggle="pill" href="#system" role="tab">{{ 'settings.system' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#network" role="tab">Network</a>
                <a class="nav-link" data-toggle="pill" href="#audio" role="tab">Audio</a>
                <a class="nav-link" data-toggle="pill" href="#video" role="tab">Video</a>
              </div>
            </div>

            <div class="col-md-9">
              <div class="card">
                <div class="card-body">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="system" role="tabpanel">
                      <app-settings-system></app-settings-system>
                    </div>
                    <div class="tab-pane fade" id="network" role="tabpanel">...</div>
                    <div class="tab-pane fade" id="audio" role="tabpanel">...</div>
                    <div class="tab-pane fade" id="video" role="tabpanel">...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="d-flex float-right">
                <a class="mr-3 my-auto" href="#" role="button" (click)="discard(); false">
                  {{ 'misc.discard' | translate }}
                </a>
                <a class="btn btn-primary" href="#" role="button" (click)="save(currentSong); false">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'misc.save' | translate }}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>