<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="card">
        <div *ngIf="loading" class="card-body d-flex m-auto">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>

        <div *ngIf="!loading" class="card-body">

          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" data-toggle="pill" href="#system" role="tab">{{ 'settings.system' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#network" role="tab">{{ 'settings.network' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#midi" role="tab">{{ 'settings.midi' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#audio" role="tab">{{ 'settings.audio' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#video" role="tab">{{ 'settings.video' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#dmx" role="tab">{{ 'settings.dmx' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#advanced" role="tab">{{ 'settings.advanced' | translate }}</a>
                <a class="nav-link" data-toggle="pill" href="#info" role="tab">{{ 'settings.info' | translate }}</a>
              </div>
            </div>

            <div class="col-md-9">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="system" role="tabpanel">
                      <app-settings-system></app-settings-system>
                    </div>
                    <div class="tab-pane fade" id="network" role="tabpanel">
                      <app-settings-network></app-settings-network>
                    </div>
                    <div class="tab-pane fade" id="midi" role="tabpanel">
                      <app-settings-midi></app-settings-midi>
                    </div>
                    <div class="tab-pane fade" id="audio" role="tabpanel">
                      <app-settings-audio></app-settings-audio>
                    </div>
                    <div class="tab-pane fade" id="video" role="tabpanel">
                      <app-settings-video></app-settings-video>
                    </div>
                    <div class="tab-pane fade" id="dmx" role="tabpanel">
                      <app-settings-dmx></app-settings-dmx>
                    </div>
                    <div class="tab-pane fade" id="advanced" role="tabpanel">
                      <app-settings-advanced></app-settings-advanced>
                    </div>
                    <div class="tab-pane fade" id="info" role="tabpanel">
                      <app-settings-info></app-settings-info>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="d-flex float-right">
                <a class="mr-3 my-auto" href="#" role="button" (click)="discard(); false">
                  {{ 'misc.discard' | translate }}
                </a>
                <a class="btn btn-primary" href="#" role="button" (click)="save(currentComposition); false">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'misc.save' | translate }}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>