<div class="card border-secondary">
  <div class="card-header">
    {{ 'routing.title' | translate }}
  </div>

  <div class="card-body">

    <p>
      <i>{{ 'routing.description' | translate }}</i>
    </p>

    <!-- Type -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">{{ 'routing.type' | translate }}</label>
      <div class="col-sm-8">
        <select class="custom-select" [ngModel]="midiRouting?.midiDestination" (ngModelChange)="midiRouting.midiDestination = $event">
          <option *ngFor="let midiDestination of midiDestinationList" [ngValue]="midiDestination">{{ 'settings.midi-destination-enum.' + midiDestination | translate }}</option>
        </select>
      </div>
    </div>

    <!-- MIDI mapping -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">{{ 'routing.midi-transformation' | translate }}</label>
      <div class="col-sm-8">
        <div class="card border-secondary">
          <div class="card-body">
            <app-midi-mapping [midiMapping]="midiRouting?.midiMapping"></app-midi-mapping>
          </div>
        </div>
      </div>
    </div>

    <!-- LIGHTING mapping -->
    <div class="form-group row" *ngIf="midiRouting?.midiDestination == 'LIGHTING'">
      <label class="col-sm-4 col-form-label">{{ 'routing.lighting-mapping' | translate }}</label>
      <div class="col-sm-8">
        <div class="card border-secondary">
          <div class="card-body">
            <div class="form-group row mb-0">
              <label class="col-sm-6 col-form-label">{{ 'routing.lighting-mapping-type' | translate }}</label>
              <div class="col-sm-6">
                <select class="custom-select">
                  <option value="simple" selected>{{ 'routing.lighting-mapping-type-simple' | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Remote devices -->
    <div class="form-group row" *ngIf="midiRouting?.midiDestination == 'REMOTE'">
      <label class="col-sm-4 col-form-label">{{ 'routing.remote-devices' | translate }}</label>
      <div class="col-sm-8">
        <div class="card border-secondary">
          <div class="card-body">
            <app-remote-device-selection [remoteDeviceList]="midiRouting?.remoteDeviceList"></app-remote-device-selection>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer">
    <div class="d-flex float-right">
      <a class="mr-3 my-auto" href="#" role="button" (click)="cancel(); false">
        {{ 'misc.cancel' | translate }}
      </a>
      <a class="btn btn-primary" href="#" role="button" (click)="ok(); false">
        {{ 'misc.ok' | translate }}
      </a>
    </div>
  </div>

</div>
