<div class="card">
  <div class="card-header">
    {{ 'routing.title' | translate }}
  </div>

  <div class="card-body">

    <p>
      <i>{{ 'routing.description' | translate }}</i>
    </p>

    <!-- Type -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">{{ 'routing.type' | translate }}</label>
      <div class="col-sm-8">
        <select class="custom-select" [ngModel]="midiRouting?.midiDestination" (ngModelChange)="midiRouting.midiDestination = $event">
          <option value="OUT_DEVICE">{{ 'editor.midi-destination-device' | translate }}</option>
          <option value="DMX">{{ 'editor.midi-destination-dmx' | translate }}</option>
          <option value="REMOTE">{{ 'editor.midi-destination-remote' | translate }}</option>
        </select>
      </div>
    </div>

    <!-- MIDI mapping -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">{{ 'routing.midi-transformation' | translate }}</label>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label for="channel-offset" class="col-sm-6 col-form-label">{{ 'routing.channel-offset' | translate }}</label>
              <div class="col-sm-6">
                <input type="text" [ngModel]="midiRouting?.midiMapping?.channelOffset" (ngModelChange)="midiRouting.midiMapping.channelOffset = $event"
                  class="form-control" id="channel-offset">
              </div>
            </div>
            <div class="form-group row mb-0">
              <label for="note-offset" class="col-sm-6 col-form-label">{{ 'routing.note-offset' | translate }}</label>
              <div class="col-sm-6">
                <input type="text" [ngModel]="midiRouting?.midiMapping?.noteOffset" (ngModelChange)="midiRouting.midiMapping.noteOffset = $event"
                  class="form-control" id="note-offset">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DMX mapping -->
    <div class="form-group row" *ngIf="midiRouting?.midiDestination == 'DMX'">
      <label class="col-sm-4 col-form-label">{{ 'routing.dmx-mapping' | translate }}</label>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <div class="form-group row mb-0">
              <label class="col-sm-6 col-form-label">{{ 'routing.dmx-mapping-type' | translate }}</label>
              <div class="col-sm-6">
                <select class="custom-select">
                  <option value="simple" selected>{{ 'routing.dmx-mapping-type-simple' | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Remote devices -->
    <div class="form-group row" *ngIf="midiRouting?.midiDestination == 'REMOTE'">
      <label class="col-sm-4 col-form-label">{{ 'routing.remote-devices' | translate }}</label>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <i>{{ 'routing.remote-devices-hint' | translate }}</i>
            <div class="mt-2">
              <div *ngFor="let remoteDevice of remoteDevices">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> {{ remoteDevice.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer d-flex" style="justify-content: space-between;">
    <a class="mr-3 my-auto text-danger" href="#" role="button" (click)="delete(); false">
      <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'misc.delete' | translate }}
    </a>

    <div class="d-flex">
      <a class="mr-3 my-auto" href="#" role="button" (click)="cancel(); false">
        {{ 'misc.cancel' | translate }}
      </a>
      <a class="btn btn-primary" href="#" role="button" (click)="ok(); false">
        {{ 'misc.ok' | translate }}
      </a>
    </div>
  </div>

</div>