<div class="form-group row">
  <label class="col-lg-3 col-form-label">{{ 'settings.midi-device-in' | translate }}</label>
  <div class="col-lg-9">
    <select class="custom-select" [ngModel]="settings?.midiInDevice?.id" (ngModelChange)="settings.midiInDevice = $event">
      <option *ngFor="let midiDevice of midiInDevices" [ngValue]="midiDevice.id">{{ midiDevice.name }}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-3 col-form-label">{{ 'settings.midi-device-out' | translate }}</label>
  <div class="col-lg-9">
    <select class="custom-select" [ngModel]="settings?.midOutDevice?.id" (ngModelChange)="settings.midiOutDevice = $event">
      <option *ngFor="let midiDevice of midiOutDevices" [ngValue]="midiDevice.id">{{ midiDevice.name }}</option>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-3 col-form-label">{{ 'settings.midi-control' | translate }}</label>
  <div class="col-lg-9">
    <div class="list-group" [sortablejs]="settings?.midiControlList" [sortablejsOptions]="{ onMove: sortMove }">
      <div class="list-group-item" *ngFor="let midiControl of settings?.midiControlList; let i = index">

        <div class="form-group row" style="margin-top: 10px; margin-bottom: -30px;">
          <div class="col d-flex">
            <a class="my-auto ml-auto text-danger" href="#" role="button" (click)="deleteMidiControl(i); false">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{ 'settings.midi-control-channel-in' | translate }}</label>
          <div class="col-md-8">
            <select class="custom-select" [ngModel]="midiControl.channelFrom" (ngModelChange)="midiControl.channelFrom = $event">
              <option *ngFor="let channel of channelList" [ngValue]="channel">{{ (channel + 1) }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{ 'settings.midi-control-note-in' | translate }}</label>
          <div class="col-md-9">
            <select class="custom-select" [ngModel]="midiControl.noteFrom" (ngModelChange)="midiControl.noteFrom = $event">
              <option *ngFor="let note of noteList" [ngValue]="note">{{ (note + 1) + ' - ' + midiIdToNote(note) }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{ 'settings.midi-control-action' | translate }}</label>
          <div class="col-md-9">
            <select class="custom-select" [ngModel]="midiControl.action" (ngModelChange)="midiControl.action = $event">
              <option *ngFor="let midiAction of midiActionList" [ngValue]="midiAction">{{ 'settings.midi-control-enum.' + midiAction | translate }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-9">
            <label class="form-check-label mt-2">
              <input type="checkbox" [ngModel]="midiControl.executeLocally" (ngModelChange)="midiControl.executeLocally = $event" class="form-check-input"> {{ 'settings.midi-control-exec-locally' | translate }}
            </label>
          </div>
        </div>
        <div class="form-group row mb-2 mt-0">
          <label class="col-md-3 col-form-label">{{ 'routing.remote-devices' | translate }}</label>
          <div class="col-md-9">
            <div class="card mb-0">
              <div class="card-body">
                <app-remote-device-selection [remoteDeviceListContainer]="midiControl"></app-remote-device-selection>
              </div>
            </div>
          </div>
        </div>

      </div>
      <a href="#" (click)="addMidiControl(); false" class="no-sortjs list-group-item list-group-item-action text-center">
        <i class="fa fa-plus" aria-hidden="true"></i> {{ 'settings.midi-control-add' | translate }}
      </a>
    </div>
  </div>
</div>