<div *ngIf="!isRestoringBackup" class="card-modal">
  <div class="card">
    <div class="card-header">
      {{ "settings.backup.title" | translate }}
    </div>

    <div class="card-body">
      <app-dropzone
        [url]="'system/restore-backup'"
        [acceptedFiles]="'.gz'"
        [maxFiles]="1"
        (error)="onUploadError($event)"
        (success)="onUploadSuccess($event)"
        (addedFile)="onAddedFile($event)"
      ></app-dropzone>
    </div>

    <div class="card-footer">
      <div class="d-flex float-right">
        <button
          type="button"
          [disabled]="uploading"
          class="btn btn-primary"
          (click)="cancel(); (false)"
        >
          {{ "misc.cancel" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
