<div class="row">

  <!-- Song navigation -->
  <div class="col-md-4 mb-3">

    <!-- Create a new song -->
    <a class="btn btn-primary mb-3 btn btn-primary btn-block" href="#" role="button" (click)="createSong(); false">
      <i class="fa fa-plus" aria-hidden="true"></i> {{ 'editor.create-song' | translate }}
    </a>

    <!-- Search for songs -->
    <input type="text" class="form-control input-block mb-3" id="searchSongList" placeholder="{{ 'editor.search-songs' | translate }}"
      (input)="filterSongs($event.target.value)">

    <!-- Existing song list -->
    <div class="card" style="height: 400px; overflow-y: scroll;">
      <div class="card-body p-0">
        <div class="list-group list-group-flush">
          <a *ngFor="let song of filteredSongs" (click)="selectSong(song); false" href="#" class="list-group-item list-group-item-action flex-column align-items-start"
            [class.active]="initialSong?.name == song.name">

            <p class="mb-0">{{ song.name }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit the selected/new song -->
  <div class="col-md-8" *ngIf="currentSong && !loadingSong">
    <div class="card">
      <div class="card-header">
        <span *ngIf="currentSong?.name">{{ currentSong?.name }}</span>
        <span *ngIf="!currentSong?.name">{{ 'editor.default-song-name' | translate }}</span>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label for="songName">{{ 'editor.song-name' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="currentSong.name" id="songName" placeholder="{{ 'editor.default-song-name' | translate }}">
        </div>

        <div class="form-group">
          <label for="songNotes">{{ 'editor.notes' | translate }}</label>
          <textarea [(ngModel)]="currentSong.notes" class="form-control" id="songNotes" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label>{{ 'editor.files' | translate }}</label>

          <div class="list-group" [sortablejs]="currentSong?.fileList" [sortablejsOptions]="{ onMove: sortMove }">
            <div class="list-group-item" *ngFor="let file of currentSong?.fileList; let i = index">
              <div class="row">
                <div class="col col-auto list-sort-handle my-auto" style="cursor: move; cursor: -webkit-grabbing;">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <a href="#" (click)="toggleActive(file); false" class="col col-auto my-auto pl-0" [class.text-danger]="!file.active">
                  <i class="fa fa-fw" [ngClass]="file.getFontAwesomeIconClass()" aria-hidden="true"></i>
                </a>
                <div class="col my-auto pl-0">
                  <a href="#" (click)="editSongFileDetails(i); false">
                    <p class="mb-0">{{ file.name }}</p>
                  </a>
                </div>
                <div class="col my-auto">
                  <a class="btn btn-secondary btn-sm float-right" href="#" role="button" (click)="editSongFileDetails(i); false">...</a>
                </div>
              </div>
            </div>
            <a href="#" (click)="addSongFile(); false" class="no-sortjs list-group-item list-group-item-action text-center">
              <i class="fa fa-plus" aria-hidden="true"></i> {{ 'editor.add-file' | translate }}
            </a>
          </div>

        </div>

      </div>

      <div class="card-footer d-flex" style="justify-content: space-between;">
        <a class="mr-3 my-auto text-danger" *ngIf="!currentSong?.isNew" href="#" role="button" (click)="delete(); false">
          <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'misc.delete' | translate }}
        </a>

        <div class="d-flex">
          <a class="mr-3 my-auto" href="#" role="button" (click)="unselectSong(); false">
            {{ 'misc.cancel' | translate }}
          </a>
          <a class="btn btn-primary" href="#" role="button" (click)="saveSong(currentSong); false">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'misc.save' | translate }}
          </a>
        </div>
      </div>
    </div>

  </div>

  <!-- No current song selected -->
  <div class="col-md-8 text-center d-flex" *ngIf="!currentSong && !loadingSong">
    <div class="d-flex m-auto">
      <i>{{ 'editor.select-song' | translate }}</i>
    </div>
  </div>

  <!-- Loading a song -->
  <div class="col-md-8 text-center d-flex" *ngIf="loadingSong">
    <div class="d-flex m-auto">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
  </div>

</div>