<div class="card-modal">
  <div class="card">
    <div class="card-header">
      {{ 'misc.update' | translate }}
    </div>

    <div class="card-body">
      <div *ngIf="!updateFinished" class="form-group row">
        <label class="col-lg-4 col-form-label">{{ 'settings.version' | translate }}</label>
        <div class="col-lg-8 my-auto">
          {{ currentVersion?.version }}
        </div>
      </div>

      <div *ngIf="!updateFinished" class="form-group row">
        <label class="col-lg-4 col-form-label">{{ 'settings.remote-version' | translate }}</label>
        <div class="col-lg-8 my-auto" *ngIf="remoteVersion && !errorRetreiveRemoteVersion">
          {{ remoteVersion?.version }}
        </div>
        <div class="col-lg-8 my-auto" *ngIf="!remoteVersion && !errorRetreiveRemoteVersion">
          <i class="fa fa-spinner fa-pulse fa-fw"></i> {{ 'settings.retreive-remote-version' | translate }}
          <br />
          <i>
            <small>{{ 'settings.retreive-remote-version-internet' | translate }}</small>
          </i>
          <br />
          <button type="button" class="btn btn-primary btn-sm mt-2" (click)="retreiveRemoteVersion(); false">
            <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>{{ 'settings.retreive-remote-version-retry' | translate }}
          </button>
        </div>
        <div class="col-lg-8 my-auto" *ngIf="errorRetreiveRemoteVersion">
          <span class="text-danger">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ 'settings.retreive-remote-version-error' | translate }}</span>
          <br />
          <button type="button" class="btn btn-primary btn-sm mt-2" (click)="retreiveRemoteVersion(); false">
            <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>{{ 'settings.retreive-remote-version-retry' | translate }}
          </button>
        </div>
      </div>

      <div class="form-group row" *ngIf="remoteVersionNewer && !updating && !updateFinished">
        <label class="col-lg-4 col-form-label"></label>
        <div class="col-lg-8">
          <p class="mb-2">
            {{ 'settings.new-version' | translate }}</p>
          <span *ngFor="let changeNote of remoteVersion.changeNoteList">
            - {{ changeNote.version }}: {{ changeNote.changes }}</span>
          <br />
          <button type="button" class="btn btn-primary mt-3" (click)="update(); false">
            <i class="fa fa-download" aria-hidden="true"></i> {{ 'settings.do-update' | translate }}
          </button>
        </div>
      </div>

      <div class="form-group row" *ngIf="!remoteVersionNewer && remoteVersion && !errorRetreiveRemoteVersion">
        <label class="col-lg-4 col-form-label"></label>
        <div class="col-lg-8">
          <span>{{ 'settings.already-up-to-date' | translate }}</span>
        </div>
      </div>

      <div class="form-group row mb-0" *ngIf="updating || updateFinished">
        <div class="col-lg-12">
          <p *ngIf="!updateFinished">
            <i>{{ 'settings.update-hint' | translate }}</i>
          </p>
          <div class="progress" *ngIf="!updateFinished">
            <div class="progress-bar progress-bar-striped" [class.progress-bar-animated]="updating" role="progressbar" [style.width]="updatePerc + '%'"></div>
          </div>
          <p *ngIf="!updateFinished" class="text-center mt-2 mb-0">
            <i class="fa fa-spinner fa-pulse fa-fw"></i> {{ updateStep | translate }}</p>

          <h1 class="text-center text-success" *ngIf="updateFinished">
            <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
          </h1>
          <p *ngIf="updateFinished" class="text-center mt-2 mb-0">{{ 'settings.update-finished' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex float-right">
        <button type="button" [disabled]="updating" class="btn btn-primary" (click)="ok(); false">
          {{ 'misc.ok' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>