/* Configure and load Bootstrap SASS */
$theme-colors: (
    "primary":#502b7f
);

@import '../node_modules/bootstrap/scss/bootstrap';

/* To vertically center some parts (like the intro wizard) */
html, body {
    height: 100%;
}

/* Tiled background, infinite movement during the intro wizard with
animation-play-stateto not reset the position on stop */
body {
    background-image: url(assets/img/intro_bg.png);
    background-repeat: repeat;
}

/* Run the background movement during the intro */
.body-bg-moving {
    animation: bgMovement 60s linear infinite;
}
@keyframes bgMovement {
    100%{
        background-position: 1000px -1000px;
    }
}


/* Better navbar spacing for elements below */
.navbar {
    margin-bottom: 15px;
}

/* Better spacing for container */
.container-fluid {
    padding-bottom: 15px;
}