<div class="container d-flex h-100" [@wizardState]="wizardState">
  <div class="row justify-content-center align-self-center mx-auto">
    <div class="col-xl">
      <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card text-center" style="border: none">
              <img class="card-img-top" src="assets/img/intro_title.png" alt="Card image cap">
              <div class="card-body" style="min-height: 158px;">
                <h4 class="card-title">{{ 'intro.welcome' | translate }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ 'intro.welcome-language' | translate }}</h6>

                <select class="custom-select" [ngModel]="settings?.language" (ngModelChange)="switchLanguage($event)">
                  <option *ngFor="let language of settingsService?.languages" [ngValue]="language.key">{{ language.name }}</option>
                </select>
              </div>
              <div class="card-footer text-muted">
                <button type="button" class="btn btn-primary" href="#carousel" [disabled]="initialLanguage == 'init'" role="button" data-slide="next">
                  {{ 'misc.nav-next' | translate }}
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card text-center" style="border: none">
              <img class="card-img-top" src="assets/img/intro_title.png" alt="Card image cap">
              <div class="card-body" style="min-height: 158px;">
                <h4 class="card-title">{{ 'intro.almost-finished' | translate }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ 'intro.name-unit' | translate }}</h6>

                <input type="text" class="form-control text-center" [(ngModel)]="deviceName" placeholder="{{ 'intro.default-unit-name' | translate }}">
              </div>
              <div class="card-footer text-muted">

                <a class="btn btn-primary" href="#carousel" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'misc.nav-back' | translate }}
                </a>

                <a class="btn btn-primary" href="#carousel" role="button" (click)="finish(); false">
                  <i class="fa fa-check" aria-hidden="true"></i> {{ 'misc.finish' | translate }}
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>