<div class="form-group row">
  <label class="col-lg-3 col-form-label">{{ 'settings.wlan-ap' | translate }}</label>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <i>{{ 'settings.wlan-ap-description' | translate }}</i>
        <br />
        <br />

        <div class="form-group row mb-0">
          <label for="channel-offset" class="col-sm-3 col-form-label">{{ 'settings.wlan-ap-status' | translate }}</label>
          <div class="col-sm-9">
            <label class="form-check-label mt-2">
              <input type="checkbox" [ngModel]="settings?.wlanApEnable" (ngModelChange)="settings.wlanApEnable = $event" class="form-check-input"> {{ 'settings.wlan-ap-enable' | translate }}
            </label>
          </div>
        </div>

        <div *ngIf="settings?.wlanApEnable" class="mt-2">
          <div class="form-group row">
            <label for="channel-offset" class="col-sm-3 col-form-label">{{ 'settings.wlan-ap-ssid' | translate }}</label>
            <div class="col-sm-9">
              <input type="text" [ngModel]="settings?.wlanApSsid" (ngModelChange)="settings.wlanApSsid = $event" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="channel-offset" class="col-sm-3 col-form-label">{{ 'settings.wlan-ap-wpa-passphrase' | translate }}</label>
            <div class="col-sm-9">
              <input type="text" [ngModel]="settings?.wlanApPassphrase" (ngModelChange)="settings.wlanApPassphrase = $event" class="form-control">
            </div>
          </div>
          <div class="form-group row mb-0">
            <label for="note-offset" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
              <label class="form-check-label mt-2">
                <input type="checkbox" [ngModel]="settings?.wlanApSsidHide" (ngModelChange)="settings.wlanApSsidHide = $event" class="form-check-input"> {{ 'settings.wlan-ap-ssid-hide' | translate }}
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-3 col-form-label">{{ 'routing.remote-devices' | translate }}</label>
  <div class="col-lg-9">
    <div class="list-group" [sortablejs]="settings?.remoteDeviceList" [sortablejsOptions]="{ onMove: sortMove }">
      <div class="list-group-item" *ngFor="let remoteDevice of settings?.remoteDeviceList; let i = index">

        <div class="form-group row" style="margin-top: 10px; margin-bottom: -30px;">
          <div class="col d-flex">
            <a class="my-auto ml-auto text-danger" href="#" role="button" (click)="deleteRemoteDevice(i); false">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{ 'settings.remote-device-name' | translate }}</label>
          <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="remoteDevice.name" id="name" placeholder="{{ 'settings.remote-device-name-placeholder' | translate }}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">{{ 'settings.remote-device-host' | translate }}</label>
          <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="remoteDevice.host" id="host" placeholder="192.168.1.22">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-9">
            <label class="form-check-label mt-2">
              <input type="checkbox" [ngModel]="remoteDevice.synchronize" (ngModelChange)="remoteDevice.synchronize = $event" class="form-check-input"> {{ 'settings.remote-device-synchronize' | translate }}
            </label>
          </div>
        </div>

      </div>
      <a href="#" (click)="addRemoteDevice(); false" class="no-sortjs list-group-item list-group-item-action text-center">
        <i class="fa fa-plus" aria-hidden="true"></i> {{ 'settings.remote-device-add' | translate }}
      </a>
    </div>
  </div>
</div>