.container-fluid {
    display: flex;
    flex-flow: column;
    height: calc(100% - 87px);
}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-transport:focus, .btn-transport:active:focus, .btn-transport.active:focus { 
    outline: none !important;
    outline-style: none;
    box-shadow: none;
}

.btn-transport {
    background-color: transparent;
    color: white;
}

.btn-transport-main {
    border: 1px solid white;
    border-radius: 50%;

    width: 46px;
    height: 46px;
}

.list-group-item.active {
    z-index: 0;
}