<div class="container-fluid">

  <!-- Transport -->
  <div class="row" *ngIf="stateService.connected" style="flex: 0 0 auto;">
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">

          <!-- For larger screens -->
          <div class="row d-none d-sm-flex">

            <!-- The transport buttons -->
            <div class="col-auto my-auto">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="previousSong()" class="btn btn-dark">
                  <i class="fa fa-step-backward fa-fw" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="play()" class="btn btn-dark" *ngIf="currentState?.playState == 'STOPPED' || currentState?.playState == 'PAUSED'  || currentState?.playState == 'STOPPING'">
                  <i class="fa fa-play fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'STOPPING'" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="stop()" class="btn btn-dark" *ngIf="currentState?.playState == 'LOADING' || currentState?.playState == 'PLAYING'">
                  <i class="fa fa-stop fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'LOADING'" [class.text-danger]="currentState?.playState == 'PLAYING'"
                    aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="nextSong()" class="btn btn-dark">
                  <i class="fa fa-step-forward fa-fw" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <!-- The current song -->
            <div class="col-sm my-auto" *ngIf="currentState?.currentSongName">
              <h4 class="align-middle float-left mb-0" style="width: 120px;">{{ playTime }}</h4>
              <h4> - {{ currentState?.currentSongName }}</h4>

              <div class="progress" style="margin-top: 5px; height: 8px;">
                <div class="progress-bar progress-bar-striped" [class.progress-bar-animated]="currentState?.playState == 'PLAYING'" role="progressbar"
                  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': playPercentage + '%'}" style="width: 25%"></div>
              </div>
            </div>

          </div>

          <!-- For smaller screens -->
          <div class="row d-sm-none">

            <!-- The transport buttons -->
            <div class="col-auto my-auto mx-auto">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="previousSong()" class="btn btn-dark">
                  <i class="fa fa-step-backward fa-fw" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="play()" class="btn btn-dark" *ngIf="currentState?.playState == 'STOPPED' || currentState?.playState == 'PAUSED'  || currentState?.playState == 'STOPPING'">
                  <i class="fa fa-play fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'STOPPING'" aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="stop()" class="btn btn-dark" *ngIf="currentState?.playState == 'LOADING' || currentState?.playState == 'PLAYING'">
                  <i class="fa fa-stop fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'LOADING'" [class.text-danger]="currentState?.playState == 'PLAYING'"
                    aria-hidden="true"></i>
                </button>
                <button type="button" [disabled]="!currentState?.currentSongName" (click)="nextSong()" class="btn btn-dark">
                  <i class="fa fa-step-forward fa-fw" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <!-- The current song -->
            <div class="col-sm pt-3" *ngIf="currentState?.currentSongName">
              <div class="d-flex">
                <div class="mx-auto">
                  <h5 class="align-middle float-left mb-0 d-flex" style="width: 100px;">{{ playTime }}</h5>
                  <h5 class="d-flex"> - {{ currentState?.currentSongName }}</h5>
                </div>
              </div>

              <div class="progress" style="margin-top: 5px; height: 8px;">
                <div class="progress-bar progress-bar-striped" [class.progress-bar-animated]="currentState?.playState == 'PLAYING'" role="progressbar"
                  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': playPercentage + '%'}" style="width: 25%"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Setlist -->
  <div class="row" *ngIf="stateService.connected">
    <div class="col" style="display: flex; flex-flow: column;">

      <!-- For larger screens -->
      <div class="list-group d-none d-sm-flex" style="flex: 0 0 auto;">
        <div class="list-group-item list-group-item-action flex-column align-items-start" style="border-top-left-radius: 0.25em; border-top-right-radius: 0.25em; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
          <a href="#" class="" d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="currentSetList && currentSetList.name">{{ currentSetList?.name }}</span>
            <span *ngIf="!currentSetList || !currentSetList.name">{{ 'misc.default-setlist' | translate }}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [class.active]="!currentSetList || !currentSetList.name" href="#" (click)="selectSetList(undefined); false;">{{ 'misc.default-setlist' | translate }}</a>
            <a *ngFor="let setList of setLists" class="dropdown-item" [class.active]="setList.name == currentSetList?.name" href="#"
              (click)="selectSetList(setList); false;">{{ setList.name }}</a>
          </div>

          <span style="margin-top: 3px" class="float-right">{{ totalPlayTime }}</span>
        </div>
      </div>

      <div class="list-group song-list d-none d-sm-flex" style="flex: 0 1 auto; overflow: auto;">
        <!-- Display all songs -->
        <a *ngFor="let song of currentSetList?.songList; let i = index" id="song{{ i }}" href="#" (click)="setSong(i, song); false"
          class="list-group-item list-group-item-action flex-column align-items-start" [class.active]="currentState?.currentSongName == song.name">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ song.name }}</p>
            <small class="my-auto">{{ msToTime(song.durationMillis, false) }}</small>
          </div>
        </a>

        <!-- No songs in the current set -->
        <a *ngIf="currentSetList && currentSetList.name && currentSetList.songList.length == 0" id="song0" href="#" routerLink="/editor" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ 'misc.setlist-without-songs' | translate }}</p>
          </div>
        </a>

        <!-- no songs at all -->
        <a *ngIf="(currentSetList && !currentSetList.name) && currentSetList.songList == 0" id="song0" href="#" routerLink="/editor" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ 'misc.no-songs' | translate }}</p>
          </div>
        </a>
      </div>

      <!-- For smaller screens -->
      <div class="list-group d-sm-none" style="flex: 0 0 auto;">
        <div class="list-group-item list-group-item-action flex-column align-items-start pt-2 pb-2" style="border-top-left-radius: 0.25em; border-top-right-radius: 0.25em; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
          <a href="#" class="" d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="currentSetList && currentSetList.name">{{ currentSetList?.name }}</span>
            <span *ngIf="!currentSetList || !currentSetList.name">{{ 'misc.default-setlist' | translate }}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [class.active]="!currentSetList || !currentSetList.name" href="#" (click)="selectSetList(undefined); false;">{{ 'misc.default-setlist' | translate }}</a>
            <a *ngFor="let setList of setLists" class="dropdown-item" [class.active]="setList.name == currentSetList?.name" href="#"
              (click)="selectSetList(setList); false;">{{ setList.name }}</a>
          </div>

          <span style="margin-top: 3px" class="float-right">{{ totalPlayTime }}</span>
        </div>
      </div>

      <div class="list-group song-list d-sm-none" style="flex: 0 1 auto; overflow: auto;">
        <!-- Display all songs -->
        <a *ngFor="let song of currentSetList?.songList; let i = index" id="songSmall{{ i }}" href="#" (click)="setSong(i, song); false"
          class="list-group-item list-group-item-action flex-column align-items-start pt-1 pb-1" [class.active]="currentState?.currentSongName == song.name">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ song.name }}</p>
            <small class="my-auto">{{ msToTime(song.durationMillis, false) }}</small>
          </div>
        </a>

        <!-- No songs in the current set -->
        <a *ngIf="currentSetList && currentSetList.name && currentSetList.songList.length == 0" id="song0" href="#" routerLink="/editor" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ 'misc.setlist-without-songs' | translate }}</p>
          </div>
        </a>

        <!-- no songs at all -->
        <a *ngIf="(currentSetList && !currentSetList.name) && currentSetList.songList == 0" id="song0" href="#" routerLink="/editor" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ 'misc.no-songs' | translate }}</p>
          </div>
        </a>
      </div>

    </div>
  </div>

</div>