<div class="container-fluid">

  <!-- Transport -->
  <div class="row" *ngIf="stateService.connected">
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">

          <!-- For larger screens -->
          <div class="row d-none d-sm-flex">

            <!-- The transport buttons -->
            <div class="col-auto my-auto">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-dark">
                  <i class="fa fa-step-backward fa-fw" aria-hidden="true"></i>
                </button>
                <button type="button" (click)="stop()" class="btn btn-dark">
                  <i class="fa fa-stop fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'LOADING'" [class.text-danger]="currentState?.playState == 'PLAYING'"
                    aria-hidden="true"></i>
                </button>
                <button type="button" (click)="play()" class="btn btn-dark" *ngIf="currentState?.playState == 'STOPPED' || currentState?.playState == 'PAUSED'  || currentState?.playState == 'STOPPING'">
                  <i class="fa fa-play fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'STOPPING'" aria-hidden="true"></i>
                </button>
                <button type="button" (click)="pause()" class="btn btn-dark" *ngIf="currentState?.playState == 'PLAYING' || currentState?.playState == 'LOADING'">
                  <i class="fa fa-pause fa-fw" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-dark">
                  <i class="fa fa-step-forward fa-fw" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <!-- The current song -->
            <div class="col-sm my-auto">
              <h4 class="align-middle float-left mb-0" style="width: 120px;">{{ playTime }}</h4>
              <h4> - {{ currentState?.currentSongName }}</h4>

              <div class="progress" style="margin-top: 5px; height: 8px;">
                <div class="progress-bar progress-bar-striped" [class.progress-bar-animated]="currentState?.playState == 'PLAYING'" role="progressbar"
                  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': playPercentage + '%'}" style="width: 25%"></div>
              </div>
            </div>

          </div>

          <!-- For smaller screens -->
          <div class="row d-sm-none">

            <!-- The transport buttons -->
            <div class="col-auto my-auto mx-auto">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-dark">
                  <i class="fa fa-step-backward fa-fw" aria-hidden="true"></i>
                </button>
                <button type="button" (click)="play()" class="btn btn-dark" *ngIf="currentState?.playState == 'STOPPED' || currentState?.playState == 'PAUSED'  || currentState?.playState == 'STOPPING'">
                  <i class="fa fa-play fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'STOPPING'" aria-hidden="true"></i>
                </button>
                <button type="button" (click)="stop()" class="btn btn-dark" *ngIf="currentState?.playState == 'LOADING' || currentState?.playState == 'PLAYING'">
                  <i class="fa fa-stop fa-fw loading-transition" [class.text-warning]="currentState?.playState == 'LOADING'" [class.text-danger]="currentState?.playState == 'PLAYING'"
                    aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-dark">
                  <i class="fa fa-step-forward fa-fw" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <!-- The current song -->
            <div class="col-sm pt-3">
              <div class="d-flex">
                <div class="mx-auto">
                  <h5 class="align-middle float-left mb-0 d-flex" style="width: 100px;">{{ playTime }}</h5>
                  <h5 class="d-flex"> - {{ currentState?.currentSongName }}</h5>
                </div>
              </div>

              <div class="progress" style="margin-top: 5px; height: 8px;">
                <div class="progress-bar progress-bar-striped" [class.progress-bar-animated]="currentState?.playState == 'PLAYING'" role="progressbar"
                  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': playPercentage + '%'}" style="width: 25%"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Setlist -->
  <div class="row" *ngIf="stateService.connected">
    <div class="col">
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <a href="#" class="" d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'misc.setlist' | translate }}: {{ currentSetList?.name }}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>

          <span style="margin-top: 3px" class="float-right">01:24:10</span>
        </div>

        <!-- Display all songs -->
        <a *ngFor="let song of currentSetList?.songList" href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ song.name }}</p>
            <small class="my-auto">03:21</small>
          </div>
        </a>

      </div>
    </div>
  </div>

</div>