<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ 'navigation.start' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'navigation.live-mode' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'navigation.configuration' | translate }}</a>
        </li>
      </ul>
    </div>

    <button (click)="switchLanguage('de')">de</button>
    <button (click)="switchLanguage('en')">en</button>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">{{ 'misc.midi' | translate }}</h4>
          <i class="fa fa-circle-o text-success" aria-hidden="true"></i> {{ 'misc.midi-in' | translate }}<br />
          <i class="fa fa-circle text-danger" aria-hidden="true"></i> {{ 'misc.midi-out' | translate }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ 'misc.dmx' | translate }}</h4>
          </div>
      </div>
    </div>
  </div>
</div>