<!-- Initial loading -->
<div class="container d-flex h-100" *ngIf="!loaded">
  <div class="row justify-content-center align-self-center mx-auto">
    <div class="col-xl">
      <div class="card border-secondary">
        <div class="card-body text-center">
          <h4 class="card-title">{{ 'loading.title' | translate }}</h4>
          <p class="card-text">{{ 'loading.description' | translate }}</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" *ngIf="loaded && !isIntro">
  <a class="navbar-brand d-flex" href="#" routerLink="/">
    <img class="my-auto d-none d-sm-block" src="assets/img/logo.png" height="30px" style="margin-right: 0px;">
    <span class="my-auto d-none d-sm-block">&nbsp;|&nbsp;</span>
    <span class="my-auto">{{ settings.deviceName }}</span>
  </a>

  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/play" routerLinkActive="active">{{ 'navigation.start' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">{{ 'navigation.compositions' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">{{ 'navigation.settings' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Connectivity indicator -->
<app-connection *ngIf="loaded"></app-connection>

<!-- Main content -->
<router-outlet *ngIf="loaded"></router-outlet>